#reviewContainer {
  color: beige;
  margin: 1.5rem;
  padding: 1rem;
  line-height: 1.5rem;
}

#advancedContainer > h1,
#reviewContainer > h1 {
  background: linear-gradient(to left,rgba(142, 142, 171, 0.15) ,rgba(238, 242, 243, 0.15));
  border-radius: 10px;
  backdrop-filter: blur(5px);
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#reviewContainer h2 {
  margin-bottom: 0.5rem;
}

#reviewContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reviewContainer li {
  padding: 0 0.5rem;
}

#reviewContainer p {
  border-top: 1px solid #fff;
  margin-top: 1rem;
}

.review-card {
  margin: 1rem;
  background: linear-gradient(to left, rgba(142, 142, 171, 0.15), rgba(238, 242, 243, 0.15));
  border-radius: 10px;
  backdrop-filter: blur(8px);
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#array-ts ul:nth-child(3) li {
  margin: 0;
  padding: 0 0.5rem;
}