:root {
  --SPIN-SPEED: 5s;
}

#spin {
  padding: 1vmin;
  padding-left: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spin .outterDiv {
  position: relative;
  border: 1px solid grey;
  height: 3vmin;
  width: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spin .innerDiv {
  position: absolute;
  height: 2vmin;
  width: 2vmin;
  border: 1px solid grey;
  margin: 0 auto;
}


/* ANIMATIONS */
@media (prefers-reduced-motion: no-preference) {
  #spin .outterDiv {
    animation: RightSpin infinite var(--SPIN-SPEED) linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  #spin .innerDiv {
    animation: RightSpin infinite var(--SPIN-SPEED) linear;
  }
}

/* right spin only */
@keyframes RightSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* left spin only */
@keyframes LeftSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}